html {
  background-color: black;
  color:white;
}
h1, h2, h3, h4, h5, h6, p, div, a{
    font-family: Helvetica;
}
.responsive{
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
}
.responsive iFrame{
    position:absolute;
    width:100%;
    height:100%;
}
a{
    color:#999;
}
nav ul{
    display:inline;
    margin 0;
}
nav ul li{
    background: #111;
    list-style-type:none;
    display: inline-block;
    padding: 2px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}
@media screen and (prefers-color-scheme: light) {
  html {
    background-color: white;
    color: black;
  }
  nav ul li{
      background: #EEE;
  }
}
